 <%- include('partials/head.ejs') %>

 
 <div class="container mt-5">
   <h2>Flight Form</h2>
   <form action="/flights/<%= flight.id %>/submit" method="POST">
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="departure_time">Departure Time</label>
         <input type="datetime-local" class="form-control" id="departure_time" name="departure_time" value=<%= flight.departure_time %> required>
       </div>
     </div>
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="landing_time">Landing Time</label>
         <input type="datetime-local" class="form-control" id="landing_time" name="landing_time" value=<%= flight.landing_time %> required>
       </div>
       <div class="form-row">
         <div class="form-group col-md-4">
           <label for="origin_country_name">Origin Country</label>
           <select class="form-control" id="origin_country_name" name="origin_country_id" required>
             <option value="">Select a country</option>
             <% if(countries.length > 0){ %>
             <% for (const country of countries) { %>
             <option value=<%=country.id %> <%= flight.origin_country_id === country.id ? 'selected' : '' %>><%= country.name %></option>
             <% } %>
             <% } %>
           </select>
         </div>
       </div>
       <div class="form-row">
         <div class="form-group col-md-4">
           <label for="destination_country_name">Destination Country</label>
           <select class="form-control" id="destination_country_name" name="destination_country_id" required>
             <option value="">Select a country</option>
             <% if(countries.length > 0){ %>
             <% for (const country of countries) { %>
             <option value=<%=country.id %> <%= flight.destination_country_id === country.id ? 'selected' : '' %>><%= country.name %></option>
             <% } %>
             <% } %>
           </select>
         </div>
       </div>


       <button type="submit" class="btn btn-primary">Submit</button>
   </form>
 </div>